<!DOCTYPE html>
<html>
<!-- Include statement has head section -->
<%- include('./partials/head') -%>

<body>
    <!-- Include navigation menu -->
    <%- include('./partials/menu') -%>

   <h1> Sample data entry </h1>
   <form name="SampleForm" action="/formentry" method="POST">
      First Name: <input type="text" name="firstname" id="firstname" required>
      Last Name: <input type="text" name="lastname" id="lastname" required> <br>
      Email: <input type="email" name="email1" id="email1" required> <br>
      Enter a number: <input type="number" name="num1" id="num1" required>
      Enter another number: <input type="number" name="num2" id="num2" required>

      <input type="submit" value="Submit form">


   </form>

</body>
</html>