<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> BDPA History </h1>
   
    <ul>
  
    </ul>
  </body>
</html>
