<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
 

  </head>
  <body>
 <!-- This is our horizontal navbar -->
 <ul class="menu">
  <li><a href="/"> <img src="images/bdpalogo.png" height="25">    </a></li>
<li><a href="/"> Home </a></li>
<li><a href="/bdpahistory"> BDPA History</a></li>
<li><a href="#"> Sample Form </a></li>
</ul>
 <!-- End Navbar -->
<br><br><br>





    <h1> BDPA History </h1>
    <img src="images/bdpalogo.png" alt="BDPA logo">
    <ol>
  <li> Founders of BDPA: Earl A Pace Jr, and David Wimberly.</li>
  <li> Founding year of BDPA: 1975 </li>
  <li> First chapter(s): Philadelphia, Washington DC, and Cleveland.</li>
  <li> First BDPA conferance year and venue:</li>
  <li> First HSCC year and venue:</li>
  <li> Most Recent Venue and winter HSCC: Atlanta and Atlanta </li>
  <li> Current National president and VP: Perry Carter (P) Eric Ejiofor(VP)</li>
  <li> Current chapter president and VP: the president was Rosemary Smith (P) Lynette McNeely Lynette McNeely(VP)</li>
  <li> Year and refounder of milwaukee chapter reactivation: 2013, Carmen Giles</li>
  
    </ol>
  </body>
</html>
