<!DOCTYPE html>
<html>
  <!-- head partial gets included here -->
  
  <!-- ./partials/head means start in the views folder
  where bdpahistory.ejs is, then go to the partials
  subfolder, then to head.ejs -->

  <body>
    <!-- Include menu here -->
    





    <h1> BDPA History </h1>
<img src="images/bdpalogo.png" alt="BDPA logo">
<!-- Ordered/numbered list starts here -->
    <ol>
<li> Founders of BDPA: Earl A. Pace Jr. and David Wimberly </li>
<li> Founding Year of BDPA: 1975 </li>
<li> First chapter(s): Philadelphia, Washington DC, Cleveland</li>
<li> First BDPA Conference year and founder: Dr. Jesse Bemley, 1986</li>
<li> First HSCC year and venue: </li>
<li> Most recent venue and winner of HSCC: Atlanta & Atlanta </li>
<li> Current national president and VP: Perry Carter (President) Eric Ejiofor (VP) </li>
<li> Current chapter president and VP: Rosemary Smith (President) Lynette McNeely (VP) </li>
<li> Year and refounder of Milwaukee chapter reactivation: 2013, Carmen Giles </li>
    </ol>
    <!-- End of ordered list -->
  </body>
</html>