<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welcome to BDPA 2025 </h1>
    <h2> My name is ATHENS </h2>
    <p>This page will be a intro to the HSCC program <%= title %></p>
    <h2> Hyperlinks </h2>
    <ul>
    <li>   <a href="http://www.bdpa.org"> BDPA National </a> </li>
    <li>   <a href="http://www.bdpamke.org"> BDPA Milwaukee </a> </li>
    <li>   <a href="http://www.w3schools.com"> W3Schools </a> </li>
    <li>   <a href="/bdpahistory"> BDPA History </a> </li>  
    </ul>
  </body>
</html>
