<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style> 
      h2 {color: rgb(255, 0, 0)}
    </Style>
  </head>
  <body>
    <!-- This is our horizontal navbar -->
    <ul class="menu">
      <li><a href="/"> <img src="images/bdpalogo.png" height="25">    </a></li>
    <li><a href="/"> Home </a></li>
    <li><a href="/bdpahistory"> BDPA History</a></li>
    <li><a href="#"> Sample Form </a></li>
    </ul>
     <!-- End Navbar -->
    <br><br><br>







    <h1> Welcome to BDPA 2025 </h1>
    <h2> My name is ATHENS </h2>
    <p>This page will be a intro to the HSCC program <%= title %></p>
    <h2> Hyperlinks </h2>
    <ul>
    <li>   <a href="http://www.bdpa.org"> BDPA National </a> </li>
    <li>   <a href="http://www.bdpamke.org"> BDPA Milwaukee </a> </li>
    <li>   <a href="http://www.w3schools.com"> W3Schools </a> </li>
    <li>   <a href="/bdpahistory"> BDPA History </a> </li>  
    </ul>
  </body>
</html>
