<!DOCTYPE html>
<html>
  <!-- head partial gets included here -->
  <%- include('./partials/head') -%>
  <body>
    <!-- Include menu here -->
    <%- include('./partials/menu') -%>

    <!-- Basic Intro -->
    <h1> Welcome to BDPA 2025 </h1>
    <h2> My name is Prometheus </h2>
    <p style="color:rgb(14, 132, 171); background-color:white"> This page will be an intro to the HSCC program </p>
    <h2> Hyperlinks </h2>
    <!-- Unordered list of links -->
    <ul>
      <li> BDPA National <a href="http://www.bdpa.org"> LINK </a> </li>
      <li> BDPA Milwaukee <a href="http://www.bdpamke.org"> LINK </a> </li>
      <li> W3Schools <a href="http://www.w3schools.com"> LINK </a> </li>
      <li> BDPA History <a href="/bdpahistory"> LINK </a> </li>f

    </ul>
    <!-- End of unordered list -->
  </body>
</html>
