logintest.ejs Update

<!DOCTYPE html>
<html>
<!-- Include statement has head section -->
<%- include('./partials/head') -%>

<body>
    <!-- Include navigation menu -->
    <%- include('./partials/menu') -%>

   <h1> Sample login form </h1>
   <form name="SampleForm" action="/logintest" method="POST">
      <div class="row">
         <div class="col">
            <label for="username"> Username </label>
            <input class="form-control" type="test" name="username" id="username" required>
         </div>

         <div class="col">
            <label for="pwd"> Enter a password: </label>
            <input class="form-control" type="password" name="pwd" id="pwd" required>

         </div>
      </div>
      <input type="submit" value="Submit form">

   </form>
   <%= message %></body>

</body>
</html>